body{
    background: #9b1111;
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(5, 133, 138, 0.2);
    max-width: 400px;
  }
  .todos li{
    background: #860d27;
  }
  .delete{
    cursor: pointer;
  }
  .filtered{
    display: none !important;
  }